
<h2>Waivers</h2>

<h3>amd64</h3>
<h4 id="amd64-porters">Porters</h4>
<p>Our toolchain maintainers are happy to support amd64 as-is.</p>

<h3>i386</h3>
<h4 id="i386-porters">Porters</h4>
<p>Our toolchain maintainers are happy to support i386 as-is.</p>

</main>
</body>
</html>

