
<h2>Waivers</h2>

<h3>amd64</h3>
<h4 id="amd64-porters">Porters</h4>
<p>Our toolchain maintainers are happy to support amd64 as-is.</p>

<p>The source for this page can be found in the Release Team's
  <a href="https://salsa.debian.org/release-team/release.debian.org/">git archive</a>.
</p>

</main>
</body>
</html>

